div.back-button {
  display: block;
  width: 55px;
  height: 55px;
  position: absolute;
  right: 30px;
  top: 40px;

  a {
    transition: all .2s;
    font-size: 22px;
    line-height: 66px;
    text-align: center;
    background: #efefef;
    font-weight: bold;
    box-sizing: border-box;
    color: #000;
    height: inherit;
    display: block;
    width: inherit;
    border-radius: 100%;
    text-decoration: none;
  }
}

article.post {
  margin: 0px auto;
  overflow-wrap: break-word;
  max-width: 620px;
  padding: 45px;
  hyphens: auto;

  header {
    margin-bottom: 35px;
    margin-top: 14px;

    h1 {
      font-size: 28px;
      margin-bottom: 7px;
      font-weight: 500;
      line-height: 1.3em;
    }

    span {
        font-size: 14px;
        display: inline-block;
        color: rgb(124, 124, 124);
      }
  }

  p {
    font-size: 16px;
    line-height: 25px;
    margin: 22px 0px;
  }

  a {
    color: #F03F53;
    text-decoration: none;
    border-bottom: 1px dashed;
  }
}
