header {
  margin-bottom: 35px;
  margin-top: 14px;

  h1 {
    font-size: 28px;
    margin-bottom: 7px;
    font-weight: 500;
    line-height: 1.3em;
  }

  span {
      font-size: 14px;
      display: inline-block;
      color: rgb(124, 124, 124);
    }
}
